<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Madlibs</h1>
    <form action="/story">
        Place: <input type="text" name="place" action=""></input><br>
        Noun: <input type="text" name="noun" action=""></input><br>
        verb: <input type="text" name="verb" action=""></input><br>
        adjective: <input type="text" name="adjective" action=""></input><br>
        Plural Noun <input type="text" name="plural_noun" action=""></input><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>