<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><h1>choices</h1>
    <b>Place: </b><li>{{place}}</li>
    <b>Noun: </b><li>{{noun}}</li>
    <b>Verb: </b><li>{{verb}}</li>
    <b>Adjective: </b><li>{{adjective}}</li>
    <b>Plural Noun: </b><li>{{plural_noun}}</li>
    <h1>Story</h1>
    <p><b>{{filled_story}}</b></p>
</body>
</html>